body {
    background-color: #0e131c;
    color: white;
}

table {
    width: 100%;
    background-color: #0b1629;
    color: white;
    font-weight: bold;
}

tr:nth-child(2n) {
    background-color: #061021;
}

tr:hover {
    background-color: #80afff;
    color: black;
}

.red {
    background-color: #ff7c73;
    color: black;
}

.orange {
    background-color: #f58c5f;
    color: black;
}

.yellow {
    background-color: #fcd18b;
    color: black;
}

.lightblue {
    background-color: #79a9fc;
    color: black;
}

.blue {
    background-color: #8be8fc;
    color: black;
}

.coloredrow {
    color: black;
}

.table-sort > thead {
    background-color: #0b1629;
    width: 100%;
    position: sticky;
    top: 90px;
}

.table-sort > tbody {
    background-color: #0b1629;
    width: 100%;

}


.alarm_header {
    background-color: #0b1629;
    position: sticky;
    overflow: visible;
    height: 90px;
    top: 0px;
    z-index: 5;
}

.alarm_footer {
    background-color: #0a0c43;
    border: solid #79a9fc;
    border-top-width: 2px;
    position: sticky;
    overflow: visible;
    height: 0;
    transform: translate(+60%, 0%);
    bottom: 0;
    z-index: 0;
    color: white;
    width: 40%;
}

#alarm_text {
    margin-left: 5%;
}

#close_footer {
    position: absolute;
    background-color: white;
    overflow: visible;
    z-index: 10;
    right: 1%;
}

.btn.btn-primary:active {
    color: #f58c5f;
}

#controller_name {
    color: lightblue;
    font-size: xxx-large;
    margin-left: 1%;
    font-weight: bolder;
}
