body {
    background-color: #0e131c;
    color: white;
}

table {
    width: 100%;
    background-color: #0b1629;
    color: white;
    font-weight: bold;
}

tr:nth-child(2n) {
    background-color: #061021;
}

.table-sort > tbody >tr:hover {
    background-color: #80afff;
    color: black;
}

.red-td {
    color: red;
}

.coloredrow {
    color: black;
    width: 62px;
    max-width: 62px;
}

.table-sort > thead {
    background-color: #0b1629;
    width: 100%;
    position: sticky;
    top: 90px;
}

.table-sort > tbody {
    background-color: #0b1629;
    width: 100%;

}

.alarm_header {
    background-color: #0b1629;
    display: inline-flex;
    position: sticky;
    overflow: visible;
    height: 90px;
    width: 100%;
    top: 0px;
    z-index: 5;
}

th:hover {
    color: lightseagreen;
}

.alarm_footer {
    background-color: #0a0c43;
    border: solid #79a9fc;
    border-top-width: 2px;
    position: fixed;
    overflow: auto;
    height: 0;
    transform: translate(+60%, 0%);
    z-index: 11;
    color: white;
    width: 40%;
}

#alarm_text {
    margin-left: 5%;
}

#close_footer {
    position: absolute;
    background-color: white;
    overflow: visible;
    z-index: 10;
    right: 1%;
}

#controller_name {
    color: lightblue;
    font-size: xxx-large;
    margin-left: 1%;
    font-weight: bolder;
}

.alarm_footer {
    display: none;
}
